---
name: Lint

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-golang
  cancel-in-progress: true

jobs:
  rust:
    timeout-minutes: 10
    permissions:
      contents: read
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run format
        run: |
          cargo fmt --check
      - name: Run lint
        run: |
          cd saba_core
          cargo clippy
      - name: Run tests
        run: |
          cd saba_core
          cargo test
  typos:
    timeout-minutes: 10
    permissions:
      contents: read
    name: typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.37.2
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: typos
        timeout-minutes: 6
        run: typos .
  actionlint:
    timeout-minutes: 10
    permissions:
      contents: read
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.37.2
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: typos
        timeout-minutes: 6
        run: actionlint
  taplo:
    timeout-minutes: 10
    permissions:
      contents: read
    name: taplo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Setup aqua
        timeout-minutes: 5
        with:
          aqua_version: v2.37.2
        uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
      - name: taplo
        timeout-minutes: 6
        run: taplo format .
  yamllint:
    timeout-minutes: 10
    permissions:
      contents: read
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Yamllint Github Action
        uses: karancode/yamllint-github-action@v3.0.0
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
